*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;   
    
}
html{
    height: 100%;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;  
}
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;  /* Garante que a navbar fique acima de outros conteúdos */
    height: 10%;
}
.nav_ul{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #4c2d2d;
    color: aliceblue;
    font-size: 18px;
}
.nav_ul a {
text-decoration: none;
color: aliceblue;
}
ul{
    list-style: none;
}

.content{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 80%;
    background-color: antiquewhite;
    margin: 0 auto; 
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
}
#sobre{
    display: flex;
    justify-content: center;
    height: auto;
    padding-top: 70px;
}
.apresentaçao{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0px 40px;
    width: 100%;
    margin-top: 25px;
}
.foto{
    display: flex;
    flex: 1;
    text-align: center; 
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.profile_picture{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
    justify-content: center;
    
}
.intro{
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 20px;
    line-height: 1.5;
    width: 50%;
    margin-bottom: 40px;
    
}
.intro h1,h3{
    display: flex;
    
    
}
.sobre_mim
{
    padding: 20px;
    width: 80%;
}

.descrição {
    flex: 3;
    display: flex;
    align-items: center;
    padding: 20px;
    line-height: 1.5;
}
p{
    font-size: 14px;
}

#projetos{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.container_p{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
}
.proj{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}
.cards{
    display: flex;
    
    flex-wrap: wrap;
    padding: 10px;
}
.card1{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    background-color: white;
}
.card1pic{
    display: flex;
    width: 250px;
    height: 200px;
    margin: 15px;
}
.card1pic img{
    max-width: 100%;
    object-fit: fill;
    overflow: hidden;

}
.card1tec{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: white;
    margin: 15px;
    
}
.card1tec img{
    max-width: 100%;
    object-fit: fill;
    overflow: hidden;
}

.tecnologias{
    display: flex;
    flex-direction: column;
    flex: 1;

    height: 100%;
}



#sobre, #projetos {
    scroll-margin-top: 50px;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: #4c2d2d;
    align-items: center;
    height: 50px;
    width: 100%; 
}

#contato{
    display: flex;
    padding: 5px 0 5px;
    width: 80%;
}

#contato ul{
    display: flex;
    width: 100%;
}

#contato li{
    display: flex;
    flex: 1;
    justify-content: center;
}

