*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;   
    
}
html{
    height: 100%;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    
}


.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;  /* Garante que a navbar fique acima de outros conteúdos */
}
.nav_ul{
    display: flex;
    border: 1px solid black;
    justify-content: space-around;
    padding: 10px;
    background-color: #4c2d2d;
    color: aliceblue;
    font-size: 18px;
}
.nav_ul a {
text-decoration: none;
color: aliceblue;
}

ul{
    list-style: none;
}

.content{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 80%;
    background-color: antiquewhite;
    margin: 0 auto;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 100%;
    max-width: 100%;
}

#sobre{
    display: flex;
    justify-content: center;
    height: 200px;
}
#projetos{
    display: flex;
    justify-content: center;
    height: 300px;
}
#sobre, #projetos {
    scroll-margin-top: 50px;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: #4c2d2d;
    align-items: center;
    height: 50px;
    width: 100%; 
}

#contato{
    display: flex;
    padding: 5px 0 5px;
    width: 80%;
}

#contato ul{
    display: flex;
    width: 100%;
}

#contato li{
    display: flex;
    flex: 1;
    justify-content: center;
}