@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #d7dbe8;  
    color: #1e3a8a;  
}

ul {
    list-style: none;
}

h1 {
    font-size: 38px;
    line-height: 42px;
    color: #2451b3; 
}

h3 {
    font-size: 23px;
    color: #1e3a8a;
}

a {
    text-decoration: none;
    color: #1e3a8a;
}

p {
    font-size: 20px;
    color: #1e3a8a;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 90px;
}

.nav_ul {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #0f172a;  
    color: white;
    font-size: 18px;
}

.nav_ul a {
    text-decoration: none;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 80%;
    background-color: #d7dceb;  
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    padding-top: 70px;
}

.apresentaçao {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0px 0px;
    width: 70%;
    margin: 70px 0 130px;
}

.intro {
    flex: 2;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    justify-content: center;
    font-size: 20px;
}

.foto {
    display: flex;
    flex: 2;
    justify-content: right;
    padding: 5px 0;
}

.profile_picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
}

.sobre_mim {
    padding: 10px;
    width: 95%;
    margin-bottom: 90px;
}

.descrição {
    flex: 3;
    display: flex;
    align-items: center;
    padding: 20px;
    line-height: 1.5;
    text-align: center;
    font-size: 20px;
}

.formacao {
    display: flex;
    align-items: center;
    flex-direction: column;
   
    margin: 20px 0;
    
}

.formacao h1 {
    margin-bottom: 40px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.curso {
    text-align: center;
    background-color: #e0e7ff;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px #64748b;
    width: 300px;
    padding: 5px;
}

.curso:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 16px #475569;
    background-color: #dbeafe;
}

.card-skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #1e3a8a;
    background-color: #dbeafe;
    margin: 8px;
    width: 120px;
    height: 120px;
    border-radius: 8px;
}

.card-skill img {
    margin-top: 8px;
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.card-skill:hover {
    transform: scale(1.05);
}

.projetos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}
.projetos h1{
    margin: 40px 0;
}

.proj {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.proj h3,.proj p{
    margin: 10x 0;
}
.card-proj {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    width: 600px;
    padding: 6px;
    margin: 15px;
    background-color:#dbeafe;
    border-radius: 8px;
    box-shadow: 0 4px 8px #cbd5e1;
    color: #1e3a8a;
}


.card-proj:hover {
    transform: scale(1.05);
}

.card1pic {
    width: 600px;
    height: auto;
    margin: 15px;
}

.card1pic img {
    max-width: 100%;
    object-fit: fill;
    overflow: cover;
}

.descricao-proj {
    flex: 1;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #0f172a;
    align-items: center;
    height: 50px;
    width: 100%;
}

.contato {
    display: flex;
    width: 80%;
}

.contato ul {
    display: flex;
    width: 100%;
}

.contato li {
    display: flex;
    flex: 1;
    justify-content: center;
}

footer p {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

@media (max-width: 768px) {
    .projetos {
        flex-direction: column;
        align-items: center;
    }

    .card-proj {
        width: 280px;
    }

    .card1pic {
        width: 280px;
    }

    h1 {
        font-size: 28px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }
}
